body{
    font-family: 'Roboto', sans-serif;
    background-size: cover;  
    background-attachment: fixed; 
    color: #333; 
    line-height: 1.6;
    margin: 0; 
}

body > * {
    width: auto; 
    margin: 0 auto; 
    padding: 0 20px; 
}
#navbar {
    max-width: 100% ;
    padding: 0 ;
}

#navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(151, 185, 247, 0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    z-index: 1000; 
}

#navbar a {
    color: #000e15; 
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    padding: 5px 0;
    transition: color 0.3s, border-bottom 0.3s;
    font-family: 'Montserrat', sans-serif;
}

#navbar a:hover {
    color: #00568c;
    border-bottom: 2px solid #75b9dd; 
}

body {
    padding-top: 60px; 
}

.header-profile { 
    text-align: center; 
    padding-top: 30px; 
    padding-bottom: 30px;
}

#imageprof {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    background-color: rgb(165, 103, 22);
    display: inline-block; 
    object-fit: cover;
    border: 5px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#nibin {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em; 
    margin-bottom: 5px;
    color: #2c3e50;
}

.tagline {
    font-style: italic;
    color: #7f8c8d;
    margin-top: 0;
}

.section { 
    margin: 30px 20px; 
    padding: 40px; 
    border-radius: 10px; 
    background-color: #9cc5fb; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0077b5; 
    border-bottom: 2px solid #0077b5; 
    padding-bottom: 10px;
    margin-bottom: 25px;
}


#Achievement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#Achievement img {
    width: 320px;
    height: 220px;
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

#Achievement img:hover {
    transform: scale(1.03);
}



#Contact a {
    color: #0077b5; 
    text-decoration: none; 
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

#Contact a:hover {
    color: #00568c;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 0.85em;
    color: #7f8c8d;
    background-color: #ecf0f1; 
}

html {
    scroll-behavior: smooth;
}